<template>

  <div id="checkout" class="checkout">
    <h1 class="display-4" style="font-weight: lighter;">Checkout</h1>

    <div class="row mt-3">
      <div class="col-md-6 col-12">
        <h4 style="font-weight: lighter;" class="mb-3">Shipping address</h4>

        <div class="row">

          <div class="col-12">
            <div class="form-group">
              <input type="email" class="form-control form-control-lg" placeholder="Email" v-model="email" />
            </div>
          </div>

          <div class="col-12">
            <div class="form-group">
              <input type="text" class="form-control form-control-lg" placeholder="Full name" v-model="fullName" />
            </div>
          </div>

          <div class="col-12">
            <div class="form-group">
              <input type="text" class="form-control form-control-lg" placeholder="Address" v-model="address">
            </div>
          </div>

          <div class="col-4">
            <div class="form-group">
              <input type="text" class="form-control form-control-lg" placeholder="City" v-model="city">
            </div>
          </div>

          <div class="col-4">
            <div class="form-group">
              <input type="text" class="form-control form-control-lg" placeholder="State / Province" v-model="province" />
            </div>
          </div>

          <div class="col-4">
            <div class="form-group">
              <input type="text" class="form-control form-control-lg" placeholder="Zip" v-model="zip" />
            </div>
          </div>

          <div class="col-12">
            <select class="form-control form-control-lg" v-model="countryCode">
              <option v-for="country, _countryCode in countries" :value="_countryCode">{{ country }}</option>
            </select>
          </div>

        </div>

        <h4 style="font-weight: lighter;" class="mt-5">Payment method</h4>

        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <input type="radio" aria-label="Checkout with PayPal" name="gateway" value="paypal" v-model="gateway" />
              </div>
              <div class="col-6 text-right">
                <img src="@/assets/paypal-icon.png" style="height: 25px" />
              </div>
            </div>
          </div>
        </div>

        <button @click="placeOrder" class="btn btn-lg btn-success btn-block mt-5" :disabled="isPlacingOrder">Place your order</button>

        <!--<div class="mt-3" id="paypal-button"></div>-->

        <p class="mt-2 text-center">By placing your order, you agree to our terms of service</p>

      </div>
      <div class="col-md-6 col-12">

        <div class="row mt-5">
          <div class="col-12 col-lg-1"></div>
          <div class="col-12 col-lg-11">

            <div class="card">
              <div class="card-header">
                <h5 class="title" style="margin-bottom: -5px">Order summary</h5>
              </div>
              <div class="card-body">

                <CartItems />

                <hr />

                <div class="row">
                  <div class="col-8">
                    <input type="text" class="form-control" placeholder="Coupon" v-model="coupon" v-on:keyup.enter="applyCoupon" />
                  </div>
                  <div class="col-4">
                    <button class="btn btn-outline-success btn-block" @click="applyCoupon">Apply</button>
                  </div>
                </div>

                <p class="mt-3 ml-1" v-if="$store.state.cart && $store.state.cart.data.relationships.coupon.data">
                  <strong>Coupon used:</strong>
                  <span class="badge badge-success">{{ $store.state.cartJsonApi.findRelationshipResource($store.state.cart.data, 'coupon').attributes.code }}</span>
                </p>

              </div>
              <div class="card-footer" v-if="!$store.state.loadingCart && $store.state.cart">

                <div class="row">
                  <div class="col-6">Subtotal</div>
                  <div class="col-6 text-right"><strong>{{ currencyHelper.formatted(cartHelper.subTotalPrice()) }}</strong></div>
                </div>

                <div class="row mt-3">
                  <div class="col-6">Shipping</div>
                  <div class="col-6 text-right"><strong>{{ currencyHelper.formatted($store.state.cart.data.attributes.shipping_fee) }}</strong></div>
                </div>

                <div class="row mt-3">
                  <div class="col-6">Tax</div>
                  <div class="col-6 text-right"><strong>{{ currencyHelper.formatted($store.state.cart.data.attributes.tax) }}</strong></div>
                </div>

                <hr />

                <div class="row mt-3">
                  <div class="col-6"><h5>Total</h5></div>
                  <div class="col-6 text-right">
                    <strong>
                      <h5>  
                        {{ currencyHelper.formatted(cartHelper.totalPrice()) }}

                        <template v-if="$store.state.cart && $store.state.cart.data.attributes.discount">({{ currencyHelper.formatted($store.state.cart.data.attributes.discount) }} saved)</template>

                      </h5>
                    </strong>
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

  </div>

</template>

<script type="text/javascript">
import mixin from '@/mixins/checkout';

import CartItems from '@/components/CartItems';

export default {

  mixins: [mixin],

  components: { CartItems }

}
</script>