<template>
  
  <div id="product-detail">
    
    <Error v-if="error" :error="error" />

    <!-- Product loaded -->
    <template v-if="productJsonApi">
      <div class="row">
          
        <!-- Images -->
        <div class="col-md-6">
          <Images :images="images" />
        </div>

        <!-- Product detail -->
        <div class="col-md-6">
          
          <!-- Product title -->
          <h1 class="product-detail__title">{{ productJsonApi.document.data.attributes.title }}</h1>

          <!-- Review stars -->
          <div class="">
            <div style="display: inline-block;">
              <div style="margin-left: -10px;"> 
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 374.77 69.02" width="160" height="26"> 
                  <path fill="#73cf11" d="M69.02 61.74c0 4.02-3.26 7.28-7.28 7.28H7.28C3.26 69.02 0 65.76 0 61.74V7.28C0 3.26 3.26 0 7.28 0h54.46c4.02 0 7.28 3.26 7.28 7.28v54.46z"></path> 
                  <path fill="#fff" d="M34.5 11.14L40.3 29h18.8L43.9 40.02l5.8 17.85-15.2-11.03-15.18 11.03 5.8-17.85L9.94 29H28.7"></path> 
                  <path fill="#73cf11" d="M145.46 61.74c0 4.02-3.26 7.28-7.28 7.28H83.72c-4.02 0-7.28-3.26-7.28-7.28V7.28C76.44 3.26 79.7 0 83.72 0h54.46c4.02 0 7.28 3.26 7.28 7.28v54.46z"></path> 
                  <path fill="#fff" d="M110.95 11.14l5.8 17.85h18.77l-15.2 11 5.82 17.84-15.2-11.03-15.18 11.04 5.8-17.85-15.18-11h18.77"></path> 
                  <path fill="#73cf11" d="M221.9 61.74c0 4.02-3.26 7.28-7.28 7.28h-54.46c-4.02 0-7.28-3.26-7.28-7.28V7.28c0-4.02 3.26-7.28 7.28-7.28h54.46c4.02 0 7.28 3.26 7.28 7.28v54.46z"></path> 
                  <path fill="#fff" d="M187.4 11.14L193.2 29h18.76l-15.2 11.03 5.8 17.85-15.17-11.03-15.2 11.03 5.8-17.85L162.8 29h18.8"></path> 
                  <path fill="#73cf11" d="M298.34 61.74c0 4.02-3.26 7.28-7.28 7.28H236.6c-4.02 0-7.28-3.26-7.28-7.28V7.28c0-4.02 3.26-7.28 7.28-7.28h54.46c4.02 0 7.28 3.26 7.28 7.28v54.46z"></path> 
                  <path fill="#fff" d="M263.83 11.14l5.8 17.85h18.77l-15.2 11 5.8 17.84-15.17-11.03-15.2 11.04 5.8-17.85-15.17-11h18.77"></path> 
                  <path fill="#73cf11" d="M374.77 61.74c0 4.02-3.26 7.28-7.28 7.28H313c-4.02 0-7.28-3.26-7.28-7.28V7.28c0-4.02 3.26-7.28 7.28-7.28h54.46c4 0 7.27 3.26 7.27 7.28v54.46z"></path> 
                  <path fill="#fff" d="M340.26 11.14l5.8 17.85h18.78l-15.2 11 5.8 17.84-15.18-11.03-15.18 11.04 5.8-17.85-15.2-11h18.78"></path> 
                </svg>
              </div>
            </div>
            <div style="display: inline-block;">
              <p>- <a href="#" @click="scrollToReviews">688 customer reviews</a></p>
            </div>
          </div>
            
          <!-- Orders today -->
          <div class="mt-3 mb-3">
            <OrdersToday :product-id="productJsonApi.document.data.id" />
          </div>

          <!-- Timer -->
          <div class="mt-3 mb-3">
            <Timer />
          </div>

          <hr />

          <!-- Price -->
          <strong>

            <template v-if="activeVariant">
              <strong class="text-danger" style="font-size: 32px; display: inline-block;">{{ currencyHelper.formatted(activeVariant.attributes.price * qty) }}</strong>
              <template v-if="activeVariant.attributes.compare_at_price">
                <span class="text-muted ml-2" style="font-size: 25px; text-decoration: line-through; display: inline-block;">
                  {{ currencyHelper.formatted(activeVariant.attributes.compare_at_price*qty) }}
                </span>
              </template>
            </template>
            
            <template v-else>
              <strong class="text-danger" style="font-size: 32px; display: inline-block;">
                From {{ currencyHelper.formatted(productJsonApi.document.data.attributes.min_price * qty) }}
                <template v-if="productJsonApi.document.data.attributes.max_price > productJsonApi.document.data.attributes.min_price">
                  to {{ currencyHelper.formatted(productJsonApi.document.data.attributes.max_price * qty) }}
                </template>
              </strong>
            </template>

          </strong>

          <!-- Options -->
          <template v-if="productJsonApi.document.data.relationships.options.data.length">
              <div class="mt-4" v-for="option, index in productJsonApi.findRelationshipResources(productJsonApi.document.data, 'options')">
                  <Option :option="option" :showAllOptions="productJsonApi.document.data.relationships.options.data.length > 1 && index === 0" :option-values="productJsonApi.findRelationshipResources(option, 'option_values')" :active-variant="activeVariant" />
              </div>
          </template>

          <!-- Qty -->
          <div class="product-detail__qty mt-4 pt-2">

            <div class="mb-3">
              <strong >Qty:</strong>
            </div>
            
            <div class="input-group input-group-lg" style="width: 150px;">
              <div class="input-group-prepend">
                <button @click="changeQty(-1)" class="btn btn-outline-secondary" type="button" style="border-color: #e6e6e6;">-</button>
              </div>
              <input type="text" class="form-control has-primary" v-model="qty" />
              <div class="input-group-append">
                <button @click="changeQty(1)" class="btn btn-outline-secondary" type="button" style="border-color: #e6e6e6;">+</button>
              </div>
            </div>
          </div>

          <!-- Buy button -->
          <button class="btn btn-icon btn-3 btn-primary btn-lg btn-block mt-5 product-detail__add-to-cart" type="button" :disabled="addingToCart" @click="addToCart">
            <span v-if="!addingToCart" class="btn-inner--text">ADD TO CART</span>
            <span v-else class="btn-inner--text">ADDING TO CART</span>
          </button>

          <div class="mt-5">
            <DeliveryEstimation />
          </div>

        </div>

        <!-- Product content -->
        <div class="col-12 mt-5 product-detail__content">

          <ul class="nav nav-tabs mb-3">
            <li class="nav-item">
              <span :class="'nav-link ' + (activeTab === 'detail' ? 'active' : '')" style="cursor: pointer;" @click="setActiveTab('detail')">Product detail</span>
            </li>
            <li class="nav-item">
              <span :class="'nav-link ' + (activeTab === 'reviews' ? 'active' : '')" style="cursor: pointer;" @click="setActiveTab('reviews')">Customer reviews</span>
            </li>
          </ul>

          <div v-if="activeTab === 'detail'">
            <article style="padding:10px" v-html="productJsonApi.document.data.attributes.content"></article>
          </div>

          <div v-if="activeTab === 'reviews'">
            <CustomerReviews />
          </div>

        </div>

        <!-- Related products -->
        <div class="col-12 mt-5">
          <hr />
          <RelatedProducts :tag-ids="tagIds" :exclude-ids="[this.productJsonApi.document.data.id]" />
        </div>

      </div>
    </template>

    <Loader v-else />

  </div>

</template>

<style type="text/css" lang="scss">
#product-detail {

  .product-detail__title {
    font-weight: 700;
    font-size: 1.7em;
    line-height: 1.3;
    text-rendering: optimizeSpeed;
    text-transform: uppercase;
  }

  .product-detail__add-to-cart {
    background-color: #4cae06 !important;
    min-height: 70px;
    width: 100%;
    font-size: 30px !important;
    box-shadow: inset 0 -3px rgba(0,0,0,.1);
    border-radius: 4px;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    color: #fff;
    border-color: rgba(0,0,0,.05);
    text-transform: uppercase;
    font-weight: bolder;
    text-decoration: none;
    border: 1px solid transparent;
    vertical-align: middle;
    line-height: 2.4em;
    padding: 0 1.2em;
    max-width: 100%;
    transition: transform .3s,border .3s,background .3s,box-shadow .3s,opacity .3s,color .3s;
    text-rendering: optimizeLegibility;
  }

}
</style>

<script type="text/javascript">
import mixin from '@/mixins/products/detail';

import Images from '@/views/products/detail-components/Images';
import Option from '@/views/products/detail-components/Option';

import RelatedProducts from '@/components/RelatedProducts';

// Widgets
import DeliveryEstimation from '@/widgets/DeliveryEstimation';
import OrdersToday from '@/widgets/OrdersToday';
import Timer from '@/widgets/Timer';
import CustomerReviews from '@/widgets/CustomerReviews';

import $ from 'jquery';

export default {

  mixins: [mixin],

  components: { Images, Option, RelatedProducts, 
    DeliveryEstimation, OrdersToday, Timer, CustomerReviews
  },

  data() {

    return {
      activeTab: 'detail'
    };

  },

  methods: {

    setActiveTab(tab) {
      this.activeTab = tab;
    },

    scrollToReviews() {
      this.setActiveTab('reviews');
      $('html,body').animate({
        scrollTop: $(this.$el).find('.product-detail__content').offset().top},
        'slow');
    }

  }

}
</script>