<template>
  <div id="navbar">

    <!-- Top -->
    <div class="container mt-3 mb-3">
      <div class="row">
        <div class="col-lg-3 navbar__logo">
          <router-link to="/">
            <img :src="logo" class="logo" />
          </router-link>
        </div>
        <div class="col-lg-5">
          
          <div class="input-group pt-2">
            <input type="text" class="form-control" placeholder="Search" v-model="searchProductTitle" v-on:keyup.enter="searchProducts" />
            <div class="input-group-append">
              <button class="btn btn-success" type="button" @click="searchProducts">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>

        </div>
        <div class="col-lg-4 navbar__cart pt-3">
          <router-link :to="{ name: 'cart.index' }" style="color: black;">
            <strong><i class="fas fa-shopping-cart"></i> Cart - {{ cart ? cart.data.relationships.cart_items.data.length : 0 }} {{ (cart && cart.data.relationships.cart_items.data.length > 1) ? 'items' : 'item' }}</strong>
          </router-link>
        </div>
      </div>
    </div>
      
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <router-link to="/" class="nav-item nav-link" href="#">Home</router-link>

            <router-link class="nav-item nav-link" :to="{ name: 'products.collection' }">
              All products
            </router-link>

            <router-link class="nav-item nav-link" :to="{ name: 'collections.collection' }">
              Our collections
            </router-link>

          </div>
        </div>  
      </div>
        
    </nav>

  </div>
</template>

<style type="text/css" lang="scss">
#navbar {

  @media(min-width: 960px) {

    .navbar__cart {
      text-align: right;
    }

    .bg-dark {
      height: 43px;
    }
  
  }

  @media(max-width: 960px) {

    .navbar__cart {
      text-align: center;
    }

    .navbar__logo {
      text-align: center;
    }


  }

  .logo {
    max-height: 60px;
  }

  .bg-dark {
    background-color: black !important;
  }

  .nav-link {
    color: #fff;
    font-weight: 700;
    line-height: 16px;
    font-size: 0.8em;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }
}

</style>

<script type="text/javascript">
import mixin from '@/mixins/components/navbar';
import $ from 'jquery';

import imageHelper from '@/helpers/image';

export default {

  mixins: [mixin],

  data() {

    return {
      searchProductTitle: '',
      logo: (process.env.NODE_ENV === 'development' || (process.env.NODE_ENV === 'production' && !window.shop.logo)) ? require('@/assets/default.png') : imageHelper.url(window.shop.logo.path)
    };

  },

  methods: {

    searchProducts() {
      this.$router.push({
        name: 'products.collection',
        query: {
          title: this.searchProductTitle
        }
      });
    }

  },

  watch: {

    '$route': function() {

      if(this.$router.currentRoute.name === 'cart.index' || this.$router.currentRoute.name === 'checkout.index') {
        $('#float-mobile-cart-button').hide();
      } else {
        $('#float-mobile-cart-button').show();
      }

      $('#navbar-default').removeClass('show');
    }

  },

  mounted() {
    $(this.$el).find('.nav-link').click(() => {
      $(this.$el).find('.navbar-toggler').click();
    });
  }

}
</script>