<template>

  <nav aria-label="..." v-if="!((numberOfResults && resultsPerPage && page === 1 && numberOfResults < resultsPerPage) || !numberOfResults)">
    <ul class="pagination pagination-lg">
      <li class="page-item" v-on:click="previous" v-if="page > 1">
        <span class="page-link">
          <i class="fa fa-angle-left"></i>
          <span class="sr-only">Previous</span>
        </span>
      </li>

      <li class="page-item active">
        <a class="page-link" href="#">{{ page }}</a>
      </li>

      <li class="page-item" v-on:click="next" v-if="(numberOfResults && resultsPerPage && numberOfResults == resultsPerPage) || !resultsPerPage">
        <span class="page-link">
          <i class="fa fa-angle-right"></i>
          <span class="sr-only">Next</span>
        </span>
      </li>
    </ul>
  </nav>

</template>

<script type="text/javascript">
import jQuery from 'jquery';
export default {

  props: ['numberOfResults', 'resultsPerPage'],

  computed: {

    page() {
      let page = this.$route.query.page ? parseInt(this.$route.query.page) : 1;
      return isNaN(page) ? 1 : page;
    }

  },

  methods: {

    previous() {

      if (this.page === 1) {
        return;
      }

      // Replace route
      let query = Object.assign({}, this.$route.query);
      query.page = this.page - 1;
      this.$router.push({ query: query});

    },

    next() {

      // Replace route
      let query = Object.assign({}, this.$route.query);
      query.page = this.page + 1;
      this.$router.push({ query: query});

    }

  }

}
</script>