<template>
  
  <div class="product-box">
    <div class="card">
      <router-link :to="{ name: 'products.detail', params: { slug: product.attributes.slug } }">
        <img :src="imageHelper.resize(image, 360, true)" class="card-img-top" :alt="product.attributes.title">
      </router-link>
      <div class="card-body">
        <h5 class="card-title text-center" :title="product.attributes.title"><router-link :to="{ name: 'products.detail', params: { slug: product.attributes.slug } }">{{ product.attributes.title }}</router-link></h5>
      </div>
    </div>
  </div>

</template>

<style type="text/css" lang="scss">
.product-box {

  box-shadow: 0 3px 6px -4px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);

  .card-title {
    font-size: .9em;
    text-transform: uppercase;
  }

  a {
    color: #4cae06 !important;
  }

  a:hover {
    color: #5ace07 !important;
    text-decoration: none !important;
  }

  h5 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
</style>

<script type="text/javascript">
import mixin from '@/mixins/components/product-box';
export default {
  mixins: [mixin]
};
</script>