<template>
  <div id="collection">

    <template v-if="!collectionJsonApi">
      <Loader />
    </template>

    <template v-if="error">
      <h3>Error!</h3>
      <p>{{ error }}</p>
    </template>

    <div v-if="collectionJsonApi && !error" class="row">
      <div class="col-12 col-md-6">
        <h1 class="">{{ collectionJsonApi.document.data[0].attributes.title }}</h1>
      </div>
      <div class="col-6 col-md-6 text-right">
        <select class="form-control form-control-md collection__sort-by">
          <option>Sort by</option>
          <option>Newest</option>
          <option>Price: Low to high</option>
          <option>Price: High to low</option>
        </select>
      </div>
      <div class="col-12" style="height: 25px;"></div>

      <div class="text-center" v-if="productsJsonApi && productsJsonApi.document && (typeof productsJsonApi.document.data === 'undefined' || !productsJsonApi.document.data.length)">
          <h5 class="text-muted text-center">No product found</h5>
      </div>


      <template v-if="productsJsonApi">
        <div class="col-lg-3 col-md-4 mb-5" v-for="product in productsJsonApi.document.data">
          <ProductBox :product="product" :variant="productsJsonApi.findRelationshipResource(product, 'variants')" :image="productsJsonApi.findRelationshipResource(product, 'image')" />
        </div>
        <div class="col-12">
          <Pagination :number-of-results="productsJsonApi.document.data.length" :results-per-page="productLimit" />
        </div>
      </template>

      <div class="col-12" v-else>
        <Loader />
      </div>

    </div>

  </div>
</template>

<style type="text/css" lang="scss">
.collection__sort-by {

    @media(min-width: 960px) {
        width: 50%;
    }

    float: right;

}
</style>

<script type="text/javascript">
import mixin from '@/mixins/collections/detail';

import Loader from '@/components/Loader';
import ProductBox from '@/components/ProductBox';
import Pagination from '@/components/Pagination';

export default {

  mixins: [mixin],

  components: { Loader, ProductBox, Pagination },

}
</script>