<template>
  <div id="app">
    
    <Navbar />

    <div class="container pt-5">
      <router-view/>
    </div>
    
    <Footer />

  </div>
</template>

<style type="text/css" lang="scss">
@import url('https://fonts.googleapis.com/css?family=Poppins%3Aregular%2C700%2Cregular%2C700%2Cregular&ver=5.1.1');

@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

body {
  font-family: "Poppins", sans-serif !important;
  line-height: 30px !important;
}

img {
  max-width: 100%;
}

</style>

<script type="text/javascript">
import Navbar from '@/components/Navbar';
import Footer from '@/components/Footer';

import mixin from '@/mixins/app.js';

export default {

  components: { Navbar, Footer },

  mixins: [mixin]

}
</script>