<template>
    <div id="cart">
        <Loader v-if="!cart && $store.state.loadingCart" />
        <div v-if="!cart && !$store.state.loadingCart">
            <h3 class="text-center">Your cart is empty!</h3>
            <p class="text-center"><router-link to="/">Click here to go back</router-link></p>
        </div>
        <div v-if="cart" class="row">
            <div class="col-lg-6 col-md-6">
                <h3>Your cart</h3>
                <CartItems />
            </div>
            <div class="col-lg-6 col-md-6 pt-5">

              <div class="card">
                <div class="card-body">
                  <Loader v-if="$store.state.loadingCart" />

                  <template v-else>
                      <h4>Subtotal: <span style="float: right;">{{ currencyHelper.formatted(cartHelper.subTotalPrice()) }}</span></h4>
                      <hr />
                      <p style="margin-bottom: 0px">Shipping & Fees: <span style="float: right;">Calculated at checkout</span></p>
                  </template>
                </div>
              </div>

              <router-link v-if="!$store.state.loadingCart" class="btn btn-lg btn-success btn-block mt-3 big-green-button" :to="{ name: 'checkout.index' }">Proceed to Checkout</router-link>

            </div>

            <div v-if="!$store.state.loadingCart" class="col-12">
                <div class="mt-5">
                  <hr />
                </div>
                <RelatedProducts :tag-ids="relatedIds.tag_ids" :exclude-ids="relatedIds.exclude_ids" />
            </div>

        </div>
    </div>
</template>

<script type="text/javascript">
import mixin from '@/mixins/cart/index';

import CartItems from '@/components/CartItems';
import Loader from '@/components/Loader';
import RelatedProducts from '@/components/RelatedProducts';

export default {

  mixins: [mixin],

  components: { CartItems, Loader, RelatedProducts }

}
</script>