<template>
  
  <div id="product-detail__images">

    <div class="row" v-if="images">

      <div class="col-2 d-none d-md-block">
        <div class="mb-2" v-for="image in images" :key="image.id">
          <img :src="imageHelper.url(image)" @click="setActiveImageId(image.id)" />
        </div>
      </div>

      <div class="col-md-10 col-12">
        <img :src="imageHelper.url(activeImage)" style="width: 100%" />
      </div>

      <div class="col-12 mt-3 d-block d-md-none">
        <div class="row">
          <div class="mb-2 col-3" v-for="image in images" :key="image.id">
            <img :src="imageHelper.url(image)" @click="setActiveImageId(image.id)" />
          </div>
        </div>
      </div>

    </div>

  </div>

</template>

<script type="text/javascript">
import mixin from '@/mixins/products/detail-components/images';

export default {
  mixins: [mixin]
}
</script>