<template>
  <div class="product-detail__option">

    <div class="mb-2">
      <strong>{{ option.attributes.name }}</strong>
      <template v-if="activeOptionValue">
        <strong class="text-primary">: {{ activeOptionValue.attributes.value }}</strong>
      </template>
    </div>

    <template v-if="getOptionType() === 'normal'">
      <div class="row">
        <div class="col-4 col-md-3 mb-3" v-for="optionValue in optionValues" v-if="show(optionValue.id)" @click="changeOptionValue(optionValue.id)">

            <div :class="'text-center product-detail__option__option-value text-center product-detail__option__option-value--default ' + (checkActive(optionValue.id) ? 'active' : '')">
              <strong>{{ optionValue.attributes.value }}</strong>
            </div>

        </div>
      </div>
    </template>

    <template v-else>
      <div class="row">
        <div class="text-center col-2" v-for="optionValue in optionValues" v-if="show(optionValue.id)">

          <div class="product-detail__option__option-value product-detail__option__option-value--color">
            <div :class="'product-detail__option__option-value__color-circle ' + (checkActive(optionValue.id) ? 'active' : '')" @click="changeOptionValue(optionValue.id)">
              <div :style="'background: ' + optionValueColorMap[optionValue.attributes.value]"></div>
            </div>
          </div>
            
        </div>
      </div>
    </template>

  </div>
</template>

<style type="text/css" lang="scss">
.product-detail__option__option-value--default {
  padding: 15px;
  border: 0.0625rem solid #e6e6e6;
  cursor: pointer;
  background: #f1f1f1;
}

.product-detail__option__option-value--default.active {
  box-shadow: 0 0 5px;
}

.product-detail__option__option-value--color {
  border: none;
}

.product-detail__option__option-value__color-circle {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  position: relative;
}

.product-detail__option__option-value__color-circle.active, .product-detail__option__option-value__color-circle:hover {
  border: 1px solid black;
}

.product-detail__option__option-value__color-circle div {
  width: 36px;
  height: 36px;
  overflow: hidden;
  border: 1px solid #e6e6e6;
  border-radius: 18px;
  margin-top: 1px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  position: relative;
}
</style>

<script type="text/javascript">
import mixin from '@/mixins/products/detail-components/option';
export default {
  mixins: [mixin]
}
</script>