<template>
  <div id="orders-today">
    <div class="card">
      <div class="card-body">
        <div class="text-center">
          {{ orderCount }} orders today
        </div>
      </div>
    </div>
  </div>
</template>

<script type="text/javascript">
export default {

  props: ['productId'],

  data() {

    return {
      orderCount: 5,
    };

  },

  created() {

    let localStorage = window.localStorage;
    let orderCount = localStorage.getItem('order-count-' + this.productId);

    if (!orderCount) {
      orderCount = Math.floor((Math.random() * 100) + 20);
      localStorage.setItem('order-count-' + this.productId, orderCount);
    }

    return this.orderCount = orderCount;

  }

}
</script>