<template>
  <div class="product-timer">
    <div class="text-center">
      <p class="text-danger product-timer__countdown" v-html="timer"></p>
      <strong style="font-size: 15px;">This campaign will be ended when the timer hits zero.</strong>
    </div>
  </div>
</template>

<style type="text/css" lang="scss">
.product-timer {

  .product-timer__countdown {
    font-size: 16px;
  }

}
</style>

<script type="text/javascript">
import $ from 'jquery';

export default {

  data() {

    return {
      timer: null
    };

  }, 

  created() {

    // Set the date we're counting down to
    var countDownDate = new Date(Date.now() + 2.5*3600*1000).getTime();

    // Update the count down every 1 second
    var x = setInterval(() => {

      // Get todays date and time
      var now = new Date().getTime();
        
      // Find the distance between now and the count down date
      var distance = countDownDate - now;
        
      // Time calculations for days, hours, minutes and seconds
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        
      // Output the result in an element with id="demo"
      this.timer = '<span style="font-size: 25px;">' + days + '</span> days: <span style="font-size: 25px;">' + hours + '</span> hrs:  <span style="font-size: 25px;">'
      + minutes + '</span> mins:  <span style="font-size: 25px;">' + seconds + '</span> secs ';
        
      // If the count down is over, write some text 
      if (distance < 0) {
        clearInterval(x);
        this.timer = "EXPIRED";
      }
    }, 1000);

  }
}
</script>